@model EventoTec.web.Models.entities.City

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>Seguro que deseas borrar?</h3>
<div>
    <h4>Borrar Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slung)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
