@model EventoTec.web.Models.entities.City
@{
    ViewData["Title"] = "Details";
}
<h2 class="text-center">Detalles Ciudad @Model.Name</h2>

<div class="text-center">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slung)
        </dd>
    </dl>
</div>
<hr />
<div class="col-md-12">
    <h4 class="text-center">Eventos</h4>
    <table class="table table-condensed">
        <tr>
            <td>Titulo</td>
            <td>Fecha</td>
            <td>Duracion</td>
            <td>Personas</td>
        </tr>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.EventDate</td>
                <td>@item.Duretion</td>
                <td>@item.People</td>
            </tr>
        }
    </table>
</div>
<div class="col-md-12">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-sm btn-info m-1">Editar</a>
    }
    |
    <a asp-action="Index">Regresar</a>
</div>